*.dll
*.exe
*.lps
*.mid
*.mp3
*.res
*.wad
*.wav
tmp/*
bin/error.log
bin/log.txt
bin/userdata/backup/*
!bin/userdata/backup/!readme.txt
bin/userdata/info.xml
bin/userdata/modules/*
!bin/userdata/modules/!readme.txt
!bin/userdata/modules/classic.module*
bin/userdata/mortem.txt
bin/userdata/mortem/*
!bin/userdata/mortem/!readme.txt
bin/userdata/screenshot/*
!bin/userdata/screenshot/!readme.txt
src/backup/*