*.dll
*.mp3
*.wav
*.mid
*.exe
*.lps
*.res
*.wad
tmp/*
bin/error.log
bin/log.txt
bin/doom.prc
bin/backup/*
!bin/backup/!readme.txt
bin/mortem/*
!bin/mortem/!readme.txt
bin/mortem.txt
bin/info.xml
src/backup/*